<ion-view title="Homebase">
  <ion-content>
    <div class="homebase">THIS IS YOUR HOMEBASE</div><br>
    <div class="bacon">
      Insert flavor text here.
      Bacon filet mignon pork,
      corned beef spare ribs t-bone pork loin kielbasa prosciutto jerky.
      Sirloin pork loin kielbasa short loin corned beef filet mignon
      swine pork chop shank tenderloin, ribeye pastrami turkey ham
      kielbasa corned beef. beef alcatra turducken. Pork ribeye pastrami,
      chicken shank filet mignon short loin turducken beef ribs spare ribs
      beef hamburger turkey drumstick beef sausage ground round ham hock
      filet mignon prosciutto porchetta meatball.
    </div><br>

    <span>YOUR MATERIALS:</span><br><br>

    <div ng-repeat="item in fl.playerData">
      {{item.name}}: {{item.lootCount}}
    </div>

    <br>
    <div>
      <button class="button leftmost" ng-click="hb.getLoot()">SCAVENGE</button>
      <button class="button buildbutton">BUILD</button>
      <button class="button return">Return to Main Menu</button>
    </div>
  </ion-content>
</ion-view>
